<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxima.elearning">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Marks"></activity>
        <activity android:name=".MarkAttendance" />
        <activity android:name=".Announcements" />
        <activity android:name=".AddFaculty" />
        <activity android:name=".Youtube_Videos" />
        <activity android:name=".AddStudent" />
        <activity android:name=".Report" />
        <activity android:name=".FacultyDashboard" />
        <activity android:name=".Pdf" />
        <activity android:name=".StudyMaterial" />
        <activity android:name=".CreateNote" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".checksum" />
        <activity
            android:name=".PaymentGateway"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".PostQuestions" />
        <activity android:name=".QuestionDetails" />
        <activity android:name=".Discussion_forum" />
        <activity android:name=".Notes" />
        <activity android:name=".AboutApp" />
        <activity
            android:name=".FeeDetails"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".AboutStudent" />
        <activity
            android:name=".Attendance"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".AdminControl" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".GettingDeviceTokenService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Student_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>